SELECT
    date,
    CAST(chain_id AS STRING) AS chain_id,
    chain_name,
    country_code,
    chain_freq_area_ids,
    tlabel,
    chain_daily_orders_per_vendor_log,
    chain_avg_daily_active_orders_log,
    chain_fail_pct,
    chain_new_order_pct,
    chain_menu_to_cart_pct,
    chain_menu_to_order_pct,
    chain_avg_rating,
    chain_incentivized_orders_pct,
    chain_avg_incentive_pct,
    chain_log_avg_gmv_eur,
    chain_potential_tpro_orders_pct,
    chain_actual_tpro_orders_pct,
    chain_tgo_orders_pct,
    chain_avg_delivery_fee_eur,
    chain_menu_desc_coverage_pct,
    chain_menu_image_coverage_pct,
    chain_hour_orders_pct_0,
    chain_hour_orders_pct_1,
    chain_hour_orders_pct_2,
    chain_hour_orders_pct_3,
    chain_hour_orders_pct_4,
    chain_hour_orders_pct_5,
    chain_hour_orders_pct_6,
    chain_hour_orders_pct_7,
    chain_hour_orders_pct_8,
    chain_hour_orders_pct_9,
    chain_hour_orders_pct_10,
    chain_hour_orders_pct_11,
    chain_hour_orders_pct_12,
    chain_hour_orders_pct_13,
    chain_hour_orders_pct_14,
    chain_hour_orders_pct_15,
    chain_hour_orders_pct_16,
    chain_hour_orders_pct_17,
    chain_hour_orders_pct_18,
    chain_hour_orders_pct_19,
    chain_hour_orders_pct_20,
    chain_hour_orders_pct_21,
    chain_hour_orders_pct_22,
    chain_hour_orders_pct_23,
    chain_contact_pct
FROM
  `data_platform_personalization.inference_features_for_two_tower_v3_per_chain`
WHERE
  country_code = "{{ country_code }}"

