
# Large data artifacts
*.parquet

# heavy artifacts
*.parquet
*.pkl
*.bentomodel
*data-00000-of-00001
# optional: large screenshots
search_ops_app/docs/img/ppt*.png

# never commit secrets
*.env
.env

# Allow contents of these demo folders (override broad ignores)
!kaggle_competition/**
!data-timeseries-forecast-tool/**
