SELECT
    chain_id,
    country_code,
    feature_timestamp AS event_timestamp
FROM {{ chain_profile_table }}
WHERE feature_timestamp BETWEEN "{{ start_date }}" AND "{{ end_date }}"
AND country_code = "{{ country_code }}"
AND (vertical = 'food' or secondary_verticals like '%Food%')