-r ../requirements.in

openai==0.27.7
langchain==0.0.239
sse-starlette~=1.6.1
tiktoken~=0.4.0
faiss-cpu

# PyTorch is packed differently for different platforms (MacOS is CPU only, Linux is GPU (CUDA) by default, which
# results in a 2,5Gb Docker image). See https://pytorch.org/get-started/locally/.
# To combat this and use the CPU version for Docker also, we need to install it from a different source.
#
# Poetry: unfortunately, CPU repo have the same package, but with "+cpu" suffix, which breaks version resolution.
# See:
#  - https://github.com/python-poetry/poetry/issues/6409#issuecomment-1562640835
#  - https://github.com/pytorch/builder/issues/1347
#  - https://stackoverflow.com/questions/59158044/poetry-and-pytorch
#
# Overall PyTorch is a madness to install / upgrade on multiple different platforms, so upgrade with caution.
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1

sentence-transformers==2.2.2
gptcache==0.1.41
redis==4.6.0
redis-om==0.2.1
psycopg2-binary==2.9.9
